/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  background-color: #333 !important;
}

#playground-main-div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  
  float: left;
  
  padding: 10px;
}

#playground-main-div h1 {
  margin-bottom: 10px;
}

#playground-main-div button {
  clear: both;
  display: block;
  margin-top: 10px;
}

#playground-main-div center {
  margin-top: 25px;
}

#playground-hidden-div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  float: left;
  padding: 10px;
  width: 30%;
}

.div-image {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  cursor: pointer;
  margin-bottom: 15px;
  max-height: 55px;
}

.div-image:hover {
  opacity: 0.4;
}

#myCarousel {
  height: 500px;
}

.div-carousel-image {
  max-height: 500px;
}

.row-fluid div:nth-child(12n + 1) {
  margin-left: 0px;
}

#gallery-wrapper {
  margin-left: 10px;
}

#carousel-wrapper {
  margin-bottom: 25px;
}
